<% include partials/header %>
<script type="text/javascript">
    App.articles = <%-JSON.stringify(articles)%>;
    App.query = <%-JSON.stringify(query)%>;
</script>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/landing.css">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">
                <h1>Post It</h1>
                <h3>Share and view experiences from around the world. Post anything!</h3>
                <hr id="line-seperator">
                <a href="/articles" class="btn btn-default btn-lg"><i class="fa fa-camera-retro" aria-hidden="true"></i> Get Started!</a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>