<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="form-center">
            <h1>Sign Up Page</h1>
            <form action="/register" method="POST">
                <div class="form-group">
                   <input class="form-control" type="text" name="username" placeholder="username"> 
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Sign Up</button>
                </div>
            </form>   
        </div>        
    </div>
</div>
<% include partials/footer %>