html {
    height: 100%;
}

h1 {

    font-size: 5em;
}

hr {
    width: 400px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

body {
    background: url("../img/landingbgmin.jpg");
    background-size: cover;
    background-position: center;
    font-family: Lato;
}

#content {
    text-align: center;
    padding-top: 20%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
                 0px 8px 12px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

@media screen and (min-height: 800px) {
    #content {
        padding-top: 27%;
    }
}

@media screen and (min-height: 1000px) {
    #content {
        padding-top: 35%;
    }
}

@media screen and (min-height: 1220px) {
    #content {
        padding-top: 50%;
    }
}

@media screen and (min-height: 1420px) {
    #content {
        padding-top: 72%;
    }
}

@media screen and (min-height: 1680px) {
    #content {
        padding-top: 80%;
    }
}



a {
    text-shadow: none;
}

#line-seperator {
    border-color: gray;
}